@model E_Dnevnik.Models.Student

@{
    ViewBag.Title = "Промени ги твоите податоци";
}

<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div style="padding:30px 0;">
                <a href="/" class="btn btn-link">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <span>Назад кон почетна</span>
                </a>
            </div>

            <div class="login-form" style="margin-bottom:30px;">
                <h3>Поставувања</h3>
                <p>Овде можеш да ги подесеш твоите информации, име и емаил.</p>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Име", htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Емаил", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Зачувај ги промените" class="btn btn-primary" />
                        <p class="small" style="margin:5px 0 0 0;">Зачувај ги промените пред напуштање на страната.</p>
                    </div>
                </div>
            </div>
        }

    </div></div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
