@model E_Dnevnik.Models.User

@{
    ViewBag.Title = "ShowUser";
}

<h2>Добредојдовте во Е-Дневник</h2>


@if (Request.IsAuthenticated)
{
<div>
    @if (Model.IsTeacher)
    {
        <h4>Најавени сте како професор !</h4>
    }
    else
    {
        <h4>Најавени сте како ученик !</h4>
    }

    <hr />
    <h5>Ваши податоци : </h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @if (Model.IsTeacher)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsTeacher)
            </dt>

            <dd>
                Profesor
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsTeacher)
            </dt>

            <dd>
                Ucenik
            </dd>
        }

    </dl>
    <br />
    @if (Model.IsTeacher)
    {
        <h5>Ваши опции :</h5>
        <div>
            <label>Vnesi ocenka </label><br />
            <label>Izberete predmet : </label><br />
            <label>Izberete ucenik : </label><br />
            <label>Ocenka : </label><br />
        </div>



        <button>Text</button>
        <button>Text</button>
        <button>Text</button>
    }
    else
    {
        <h5>Pregled na ocenkite</h5>
    }



</div>
}
else
{
    <h3>Ne ste najaveni !</h3>
}


