@model E_Dnevnik.Models.TeacherOddelenie

@{
    ViewBag.Title = "Create";
}


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <div style="padding:30px 0;">
                <a href="/" class="btn btn-link">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <span>Назад кон почетна</span>
                </a>
            </div>

            <div class="login-form" style="margin-bottom:30px !important;">
                <h3>Додади одделение</h3>
                <p>Овде можете да го додадете одделението на кое предавате.</p>

                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TeacherId, "Наставник", htmlAttributes: new { @class = "control-label" })
                <div>
                    <b style="font-weight:700;">@Html.Label((string)TempData["TeacherName"])</b>
                </div>
            </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.OddelenieId, "Одделение ", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownList("OddelenieId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OddelenieId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Зачувај ги промените" class="btn btn-primary bt-block" />
                        <p class="small" style="margin:5px 0 0 0;">Зачувај ги промените пред напуштање на страната.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
