@model E_Dnevnik.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h3>Регистрирај се</h3>
                <p>За да го користиш системот, мора да имаш акаунт. Регистрирај се со пополнување на податоците подолу.</p>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Емаил адреса</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Лозинка</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Потврди Лозинка</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Име</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Презиме</label>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        @Html.CheckBoxFor(m => m.IsTeacher, new { @class = "" })
                        <div style="display:inline-block;vertical-align:top;">
                            <b style="display:block;">Дали си професор?</b>
                            <span>Штиклирај го ова поле доколку си професор.</span>
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Креирај акаунт" />
                </div>
            }

        </section>
        <p class="text-center mt-2">Веќе имаш акаунт? @Html.ActionLink("Најави се", "Login")</p>

    </div>
</div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
