@model E_Dnevnik.Models.E_DnevnikModel
@{
    ViewBag.Title = "Почетна";
}


@if (Request.IsAuthenticated)
{
    if (Model.IsTeacher )
    {
        <div class="student-details row">
            <div class="col-md-1 vcenter">
                <img src="no-avatar.jpg" />
            </div>
            <!--
            -->
            <div class="col-md-6 vcenter">
                <div class="details">
                    <span>Наставник</span>
                    <b>@Model.Teacher.Name</b>
                    <div class="email"><i class="glyphicon glyphicon-envelope"></i> @Model.Teacher.Email</div>
                </div>
            </div>
            <!--
            -->
            <div class="col-md-5 text-right vcenter">
                <a href="/teachers/edit/@Model.Teacher.Id" class="btn btn-link"><i class="glyphicon glyphicon-edit"></i> Промени ги податоците</a>
            </div>
        </div>

        <div class="row" style="padding-bottom:50px;">
            <div class="col-md-6">
                <h3>Предмети кои ги предавате</h3>
            </div>
            <div class="col-md-6 text-right">
                @Html.ActionLink("Додај Предмет", "Create", "TeacherSubjects", new { TeacherId = Model.Teacher.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Додај Оценка", "Create", "StudentSubjects", new { TeacherId = Model.Teacher.Id }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-12">
                <hr style="margin:15px 0 0 0;" />
            </div>
            @foreach (var predmet in Model.Subjects)
            {
                <div class="col-md-2">
                    <a href="/subjects/details?SubjectId=@predmet.Id">
                        <div class="subject-box">
                            @predmet.Name
                        </div>

                        <div style="text-align: center">@Html.ActionLink("Избриши", "Delete", "TeacherSubjects", new { TeacherId = Model.Teacher.Id, SubjectId = predmet.Id }, null)</div>
                    </a>
                </div>

            }
        </div>

        <div class="row" style="padding-bottom:50px;">
            <div class="col-md-6">
                <h3>Одделениа на кои предавате</h3>
            </div>
            <div class="col-md-6 text-right" style="padding-top:20px;">
                @Html.ActionLink("Додај Одделение", "Create", "TeacherOddelenies", new { TeacherId = Model.Teacher.Id }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-12">
                <hr style="margin:15px 0 0 0;" />
            </div>
            @foreach (var oddelenie in Model.Oddelenia)
            {
                <div class="col-md-2">
                    <a href="/oddelenies/details?OddelenieId=@oddelenie.Id">
                        <div class="subject-box">
                            @oddelenie.Name
                        </div>

                        <div style="text-align: center">@Html.ActionLink("Избриши", "Delete", "TeacherOddelenies", new { TeacherId = Model.Teacher.Id, OddelenieId = oddelenie.Id }, null)</div>
                    </a>
                </div>

            }
        </div>
    }
    else
    {
        <div class="student-details row">
            <div class="col-md-1 vcenter">
                <img src="no-avatar.jpg" />
            </div><div class="col-md-6 vcenter">
                <div class="details">
                    <span>Студент</span>
                    <b>@Model.Student.Name</b>
                    <div class="email"><i class="glyphicon glyphicon-envelope"></i> @Model.Student.Email</div>
                </div>
            </div><div class="col-md-5 text-right vcenter">
                <a href="/students/edit/@Model.Student.Id" class="btn btn-link"><i class="glyphicon glyphicon-edit"></i> Промени ги податоците</a>
            </div>

        </div>

        <div class="student-results">
            <h3>Ваши резултати</h3>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <th>Име на предмет</th>
                <th class="text-center">Оцена на Полугодие</th>
                <th class="text-center">Крајна Оцена</th>
                </thead>
                <tbody>
                    @foreach (var sub in Model.StudentSubjects)
                    {
                        if (sub.FirstGrade != 0)
                        {
                            <tr>
                                <td>@sub.Subject.Name</td>
                                <td class="text-center">@sub.FirstGrade</td>
                                <td class="text-center">@sub.SecondGrade</td>
                            </tr>
                        }

                    }
                    <tr>
                        <td colspan="2" class="text-right">Постигнат успех:</td>
                        <td class="text-center">
                            <b>@(String.Format("{0:0.00}", Model.Prosek))</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="error">
                <img src="group.png" />
                <h3>Не сте најавени</h3>
                <p>За да можете да го користите системот, ве молиме најавете се како Наставник или Ученик.</p>
            </div>
        </div>
    </div>
}
