@model E_Dnevnik.Models.E_DnevnikModel
@{
    ViewBag.Title = "Home Page";
}


@if (Request.IsAuthenticated)
{
    <div>Najaven</div>
    if (Model.IsTeacher)
    {
        <div>Teacher</div>
        <div> Ime @Model.Teacher.Name</div>
        <div>
            <label>Pregled na predmeti koi gi predava :</label>
            <ol>
                @foreach (var predmet in Model.Subjects)
                {
                    <li>
                        @predmet.Name
                    </li>
                }
            </ol>
            <div>
                @Html.ActionLink("Dodaj Predmet", "Create", "TeacherSubjects", new { TeacherId = Model.Teacher.Id }, null)
            </div>
            <div>
                @Html.ActionLink("Vnesi ocenka", "Create", "StudentSubjects", new { TeacherId = Model.Teacher.Id }, null) <br />
                <a href="/teachers/edit/@Model.Teacher.Id">Edit profile</a>
            </div>
        </div>
    }
    else
    {
        <div>Student</div>
        <div> Ime @Model.Student.Name</div>
        <div>
            <label>Pregled na ocenkite:</label>
            <ol>
                @foreach (var sub in Model.StudentSubjects)
                {
                    if (sub.FirstGrade != 0)
                    {
                        <li>
                            <label>Predmet: @sub.Subject.Name</label><br />
                            <label>Polugodie: @sub.FirstGrade</label><br />
                            @if (sub.SecondGrade != 0)
                            {
                                <label>Kraj: @sub.SecondGrade</label><br />
                            }
                        </li>
                    }

                }
            </ol>
            <label>Postignat uspeh @Model.Prosek</label><br />
            <a href="/students/edit/@Model.Student.Id">Edit profile</a>
        </div>


    }
}

else
{
    <div>Ne najaven</div>
}
