@model E_Dnevnik.Models.E_DnevnikModel
@{
    ViewBag.Title = "Home Page";
}


@if (Request.IsAuthenticated)
{
    <div>Najaven</div>
    if (Model.IsTeacher)
    {
        <div>Teacher</div>
        <div> Ime @Model.Teacher.Name</div>
        <div>
            <label>Pregled na predmeti koi gi predava :</label>
            <ol>
                @foreach (var predmet in Model.Subjects)
                {
                    <li>
                        @predmet.Name
                    </li>
                }
            </ol>
          <div>
            @Html.ActionLink("Dodaj Predmet","Create","TeacherSubjects")
          </div>
        </div>
    }
    else
    {
        <div>Student</div>
        <div> Ime @Model.Student.Name</div>
        <div>
            <label>Pregled na ocenkite:</label>
            <ol>
                @foreach (var sub in Model.StudentSubjects)
                {
                    <li>
                        <label>Predmet: @sub.Subject.Name</label><br />
                        <label>Prva ocenka: @sub.FirstGrade</label><br />
                        <label>Vtora ocenka: @sub.SecondGrade</label><br />
                    </li>
                }
            </ol>
        </div>

    }
}
else
{
    <div>Ne najaven</div>
}
